<!doctype html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
        <title>{{ page.title }}</title>
        <meta name="description" content="'Eingabe/Ausgabe' at FH-Potsdam (University of Applied Sciences Potsdam (Germany))">
        <meta name="author" content="fabiantheblind">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <style>
        body{
            font-family:monospace;

            padding:2em;
        }
        </style>
    </head>
    <body>
    <div class="container">
<!--     <h6 class="title"><a href="/">&laquo;&laquo; {{ site.name }}</a></h6>-->
    <div class="row">
        <div class="col-md-12">
        {{ content }}
        </div>
    </div>
    </div>
    </body>
</html>
