<!doctype html>
<html lang="en">
<!-- example layout -->
    <head>
        <link type="text/stylesheet" rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
        <title>{{ page.title }}</title>
        <meta name="description" content="'Eingabe/Ausgabe' at FH-Potsdam (University of Applied Sciences Potsdam (Germany))">
        <meta name="author" content="fabiantheblind">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link type="text/stylesheet" rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
        <link type="text/stylesheet" rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap/css/bootstrap.css">
        <link type="text/stylesheet" rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <link type="text/stylesheet" rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    </head>
    <body>
    <div class="container">
<!--     <h6 class="title"><a href="/">&laquo;&laquo; {{ site.name }}</a></h6>-->
    <div class="row">
      <div class="col-md-12">
      {% include home.html %}
      </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="content">
        {{ content }}
        </div>
    </div>
    </div>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.17/p5.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </body>
</html>
